.contactme-summary__header,
.contactme-hobbies__header {
    margin-bottom: 3rem;
    text-align: center;
}

.contactme-summary__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
}

.contactme-summary__card {
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 8px 0 0 0;
}

.margin__bottom {
    margin-bottom: 10px;
}