.portfolio-summary__header,
.portfolio-hobbies__header {
  margin-bottom: 3rem;
  text-align: center;
}

.portfolio-summary__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.portfolio-summary__card {
  gap: 1rem;
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 8px 0 0 0;
}

.portfolio-summary__card .icons svg {
  padding: .75rem .5rem;
  background-color: var(--gray-100);
  border-radius: 8px;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}

.portfolio-icons {
  position: relative;
}

.arrow {
  position: absolute;
  height: 1rem;
  width: 1rem;
  justify-content: flex-end;
  align-items: flex-end;
  right: .1875rem;
  top: .1875rem;
}

.tags {
  display: flex;
  gap: .5rem;
  margin-top: .5rem;
}

p.tag {
  background-color: var(--pink-100);
  padding: .125rem .5rem;
  border-radius: .625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}