.project_page-summary__header,
.project_page-hobbies__header {
  margin-bottom: 3rem;
  text-align: left;
}

.project_page-summary__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;

}

.project_page-summary__card {
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content_fix {
  line-height: 1;
}

.p_fix {
  text-align: left;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 300;
}

.project_margins {
  margin-top: 3.125rem;
  margin-bottom: 2.5rem;
}

div svg {
  padding: .75rem .5rem;
  background-color: var(--gray-100);
  border-radius: 8px;
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: 20px;
}

.project_page_section-md {
  padding: 64px 0 61px 0;
}

div.project_page-summary__card h3 {
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

div.project_page-summary__card .text-sm {
  font-size: 1rem;
}

div.project_page-summary__header h2 {
  margin-bottom: 1rem;
}