<h1>Categories</h1>
<% @categories.each do |category| %>
<div>
  <% if category.cover.attached? %>
    <div>
      <%= image_tag category.cover,  alt: "Category image" %>
    </div>
  <% end %>
  <span>
    <%= category.name %>
  </span>
  <span>
    <%= category.photos_count %>
  </span>


</div>
<% end %>
